@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

*{
	padding:0;
	margin:0;
}

body{
	font-family: "Ubuntu", sans-serif !important;
	font-size: 100%;
	background:#f8f8f8;
}
h1, h2{
    font-family: "Ubuntu", sans-serif !important;
    color: white !important;
}
h1{
    
}

.jumbotron{
    background-color: #333333 !important;
    /*z-index: 4234;*/
    padding: 0 !important;
   /*max-height: 900px !important;*/
    /*min-height: 900px !important;*/
    /*background: red !important;*/
    
}


.typed-cursor{
            opacity: 1;
            font-weight: 100;
            color: white;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
/*.type-wrap{
	position: relative;
	height: 100%;
	width: 30%;
	font-size: 20px;
	overflow-y: scroll;
	z-index: 6;
	left: 2%;
	top:-145px;
	z-index: 0;
}
.type-wrap2{
	position: relative;
	height: 100%;
	width: 30%;
	font-size: 20px;
	overflow-y: scroll;
	z-index: 6;
	left: 70%;
	top:-420px;
	z-index: 0;
}*/

::-webkit-scrollbar {display: none;}            
::-webkit-scrollbar-button {display: none;}      
::-webkit-scrollbar-track {display: none;}     
::-webkit-scrollbar-track-piece {display: none;} 
::-webkit-scrollbar-thumb {display: none;}       
::-webkit-scrollbar-corner {display: none;}      
::-webkit-resizer {display: none;}   